@font-face {
  font-family: "Gugi";
  src: local("Gugi"), url("../assets/fonts/gugi/Gugi-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Kalameh";
  src: url("../assets/fonts/kalameh/KalamehWebFaNum-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Kalameh";
  src: url("../assets/fonts/kalameh/KalamehWebFaNum-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Kalameh";
  src: url("../assets/fonts/kalameh/KalamehWebFaNum-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Kalameh";
  src: url("../assets/fonts/kalameh/KalamehWebFaNum-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Kalameh";
  src: url("../assets/fonts/kalameh/KalamehWebFaNum-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Kalameh";
  src: url("../assets/fonts/kalameh/KalamehWebFaNum-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Kalameh";
  src: url("../assets/fonts/kalameh/KalamehWebFaNum-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Kalameh";
  src: url("../assets/fonts/kalameh/KalamehWebFaNum-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Kalameh";
  src: url("../assets/fonts/kalameh/KalamehWebFaNum-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
