.videoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
    max-width: 260px;
}

.videoWrapper .qrVideo {
    object-fit: cover;
    border: 1px solid #ddd;
    width: 260px;
    height: 100%;
    border-radius: 6px;
}

.scannedText {
    word-wrap: break-word;
}